# === General ===
.DS_Store
*.log
.env
.vscode/
__pycache__/

# === Dependency folders ===
.venv
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vite
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# === Generated Data ===
server/models/
server/data/processed